* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling for the header */
header {
  background-color: lightcoral;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Styling for the main content */
main {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #f9f9f9;
}

/* Styling for product and cart sections */
#product-list, #cart {
  width: 45%;
}

.product, #cartItems li {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: lightcoral;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: darkred;
}

/* Styling for the total price */
#totalPrice {
  font-weight: bold;
}

/* Styling for the footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}